.carousel,
.carousel-inner {
    max-height: 65vh;
    min-height: 30vh;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 30%;
    max-height: 100%;
    min-height: 30%;
    height: 100%;
    display: flex;

    align-items: center;

    justify-content: center;
}

.carousel-item {
    height: 350px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    position: absolute;
    bottom: -50px;
}
.carousel-controls {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
p {
    text-align: justify;
}

.jumbotron-fluid {
    display: flex;
    align-items: center;
}

.jumbotron-fluid .container-fluid {
    position: relative;
    z-index: 2;
}

.jumbotron-fluid .bg {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.centrar {
    text-align: center;
}
